<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="scheduler.wgu.mywguscheduler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyWGUScheduler">
        <activity
            android:name=".UI.Assessment.AssessmentDetailActivity"
            android:label="Assessment Details"
            android:parentActivityName=".UI.Assessment.AssessmentActivity"
            />
        <activity
            android:name=".UI.Course.CourseDetailActivity"
            android:label="Course Details"
            android:parentActivityName=".UI.Course.CourseActivity" />
        <activity
            android:name=".UI.Term.TermDetailActivity"
            android:label="Term Details"
            android:parentActivityName=".UI.Term.TermActivity" />
        <activity
            android:name=".UI.Term.AddTermActivity"
            android:label="Add Term"
            android:parentActivityName=".UI.Term.TermActivity" />
        <activity
            android:name=".UI.Instructor.AddInstructorActivity"
            android:label="Add Instructor"
            android:parentActivityName=".UI.Instructor.InstructorActivity" />
        <activity
            android:name=".UI.Course.AddCourseActivity"
            android:label="Add Course"
            android:parentActivityName=".UI.Course.CourseActivity" />
        <activity
            android:name=".UI.Assessment.AddAssessmentActivity"
            android:label="Add Assessment"
            android:parentActivityName=".UI.Assessment.AssessmentActivity" />
        <activity
            android:name=".UI.Term.TermActivity"
            android:label="Terms"
            android:parentActivityName=".UI.MainActivity" />
        <activity
            android:name=".UI.Instructor.InstructorActivity"
            android:label="Instructors"
            android:parentActivityName=".UI.MainActivity" />
        <activity
            android:name=".UI.Course.CourseActivity"
            android:label="Courses"
            android:parentActivityName=".UI.MainActivity" />
        <activity
            android:name=".UI.Assessment.AssessmentActivity"
            android:label="Assessments"
            android:parentActivityName=".UI.MainActivity" />
        <activity android:name=".UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>